{{#objects}}
    <div id="{{name}}" class="col-lg-4">

        <!-- adds an if logic via swag.js -->
        {{#if imageurl}}
            <img src="{{imageurl}}" class="img-responsive" alt="{{name}}" />
        {{else}}
            <img src="default_image.jpg" class="img-responsive" alt="{{name}}" />
        {{/if}}

        <p class="centered"><strong>{{name}}</strong> (<a href="https://twitter.com/search?q={{twitterhandle}}&mode=users" target="_blank">{{twitterhandle}}</a>)</p>
        <p class="centered"><em>{{newsorganization}}</strong></em></p>
        <p class="centered">I'd like to learn...<br /><em>{{wouldliketolearn}}</strong></em></p>
        <p class="centered">{{#if linktoproject}}<a href="{{linktoproject}}" target="_blank">View my demo project </a>{{/if}}</p>
    </div>
{{/objects}}